.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 20px;

  background-color: blue;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-search {
  display: flex;
  align-items: center;
  background-color: #1f2933;
  border-radius: 6px;
  overflow: hidden;
}
.navbar-search input {
  flex: 1;
  padding: 8px 12px;

  border: none;
  outline: none;

  background: transparent;
  color: rgb(255, 255, 255);
}
.navbar-search button {
  padding: 8px 12px;
  background-color: #38bdf8;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* LINKS */
.navbar-links {
  display: flex;
  gap: 20px;
}
@media (max-width: 300px) {
  .navbar-search {
    display: none;
  }
}
